<h1>List of Items</h1>
<%= button_to 'Create New Item', new_item_path, class: "btn btn-success", method: :get%>

<%= render partial: 'partials/active_items', :locals => {:item => @item} %>
<%= render partial: 'partials/deleted_items', :locals => {:item => @item} %>


